.pageform{
  padding 0 SSF(40rem)
  .formtits{
    fullheight(SSF(42rem))
    fscolor(SSF(30rem), #141414)
    margin-bottom SSF(24rem)
    &.haswitch{
      fl-c-b()
    }
  }
  .formline {
    
  }
}
