.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
// .icon.icon-close{
// 	background-image url("../images/icon/icon-close.png")
// }
// .icon.icon-horn{
// 	//background-image url("../images/icon/icon-horn.png")
// 	background-image url("../images/horn2.png")
// }
