.btn{
  fullheight(SSF(80rem))
  padding 0
  border-radius: SSF(80rem);
  font-size: SSF(30rem);
  text-align center
  &:active{
    opacity: .6;
  }
}

.btn.btn-blue{
  background-color #4875EB
  color #fff
}

.btn.btn-black{
  background-color #0C1F0A
  color #fff
}

.btn.btn-yellow{
  background-color #FDD13E
  color #141414
}

.btn.btn-red2{
  background-color #FD4E3E
  color #fff
}

.btn.btn-purple{
  background-color #6626F4
  color #fff
}

.btn.btn-disabled{
  background-color #535862
  color #202229
}
.btn-purple-img{
  background-image: linear-gradient(93deg, #F087FF 0%, #6E1FCE 54.5%, rgba(110, 31, 206, 0.20) 100%);
}
